section {
	@include preventDefault;
	@include centerItems(true);
	display: none;
	height: 60vh;
	width: 85vw;
	color: $secondary-font-color;
	background-color: $element-color;
	border-radius: $border-rounding;
	#timer {
		@include spacing;
		position: relative;
		display: flex;
		height: 100%;
		width: 100%;
		align-items: flex-end;
		justify-content: center;
		font: $medium-font-size + vh $primary-font;
	}
	#text {
		@extend #timer;
		width: 90%;
		align-items: flex-start;
		justify-content: center;
		font: ($small-font-size + 4) + vh $primary-font;
		@media only screen and (orientation: portrait) {
			font: $small-font-size + vw $primary-font;
		}
	}
}
