body {
	@include preventDefault;
	@include centerItems;
	background-color: $background-color;
	overflow: hidden;
	section {
		@include centerItems;
		h1 {
			@include preventDefault;
			font: $large-font-size + vw $primary-font;
			color: $primary-font-color;
			text-shadow: $neuomorphic-shadow;
		}
		button {
			@include preventDefault;
			font: $medium-font-size + vw $primary-font;
			color: $primary-font-color;
			padding: 2vw;
			text-shadow: $neuomorphic-shadow;
			background: $background-color;
			box-shadow: $neuomorphic-shadow;
			border: none;
			border-radius: 100px;
			transition: 0.1s ease-in-out;
			&:hover {
				@include neumorphic-shadow-lite(0.8);
				transform: scale(0.975);
				cursor: pointer;
				&:active {
					@include neumorphic-shadow-lite(0.4);
					transform: scale(0.9);
				}
			}
		}
		@media only screen and (orientation: landscape) {
			h1 {
				font-size: $large-font-size + vh;
			}
			button {
				font-size: $medium-font-size + vh;
			}
		}
	}
}
