@mixin preventDefault {
	user-select: none;
	outline: none;
}

@mixin centerItems {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

@mixin neumorphic-shadow-lite($alpha) {
	box-shadow: 5px 5px 10px rgba(233, 224, 190, $alpha),
		-5px -5px 10px rgba(255, 255, 222, $alpha);
}
