// Colors
$background-color: rgb(253, 243, 206);

// Shadows
$neuomorphic-shadow: 5px 5px 10px rgb(233, 224, 190), -5px -5px 10px rgb(255, 255, 222);

// Fonts
$primary-font: "Arial Black";
$primary-font-color: rgb(253, 243, 206);
$large-font-size: 18;
$medium-font-size: 10;
$small-font-size: 5;


